@media (max-width: 1370px) {
  body {
    min-height: 1024px;
  }
  .sec1 {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .sec2 .wrapper .form-registration::after {
    display: none;
  }
  .sec2 .coins {
    height: 1024px;
    background-size: cover;
  }
}

@media (max-width: 1025px) {
  body {
    min-height: auto;
  }
  .sec1 {
    margin-top: 15%;
  }
  .sec2 .coins {
    height: 1300px;
    background-image: url("../img/mb_elem.png");
  }
  .sec2 .wrapper {
    width: 85%;
    /* max-width: 1000px; */
  }
  .sec2 .wrapper .head-title {
    font-size: 55px;
  }
  .sec2 .wrapper .flag::before {
    left: calc(-25% - 20px);
  }
  .sec2 .wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec2 .wrapper .main-content-list:after {
    left: -25%;
  }
  .sec2 .wrapper .head-title {
    margin: 0;
    text-align: center;
  }
  .sec2 .wrapper .main-content-list .main-content-item .main-content-text {
    font-size: 33px;
  }
  .sec2 .wrapper .form-registration {
    border-radius: 25px;
    /*  bottom: -100%; */
    right: 50%;
    -webkit-transform: translate(50%, -35%);
            transform: translate(50%, -35%);
  }
  .sec2 .wrapper .form-registration .form-wrap .form-tabs::after {
    width: 100%;
  }
  .darkscreen {
    top: 50%;
  }
  .sec_policy .sec3-wrapper .header {
    font-size: 36px;
  }
}

@media (max-width: 770px) {
  body {
    background-image: url("../img/bg_mb.png");
    background-size: 100% 100%;
    background-position: center center;
  }
  .sec1 .content .main-content .left-side,
  .sec1 .content .main-content .right-side {
    width: 175px;
  }
  .sec1 .content .head-title {
    font-size: 75px;
    text-align: center;
    -webkit-transform: none;
            transform: none;
  }
}

@media (max-width: 415px) {
  .sec1 {
    display: none;
  }
  .sec2 {
    display: block;
  }
  .sec2 .wrapper .form-registration {
    position: relative;
    right: 0;
    -webkit-transform: none;
            transform: none;
  }
  .sec2 .wrapper .content {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec2 .wrapper .flag {
    margin-top: 30px;
  }
  .sec2 .wrapper .head-title {
    font-size: 40px;
    line-height: 45px;
    text-align: left;
    width: 70%;
    -webkit-transform: skew(-14deg);
            transform: skew(-14deg);
    margin: 0 auto;
  }
  .sec2 .wrapper .flag::before {
    left: calc(-10% - 20px);
    top: 7px;
    background-image: url("../img/flagmob.png");
    background-repeat: no-repeat;
    background-size: 100px 73px;
    content: "";
  }
  .sec2 .wrapper .head-subtitle {
    font-size: 20px;
    font-weight: 600;
    width: 70%;
    -webkit-transform: skew(-14deg);
            transform: skew(-14deg);
    margin: 0 auto;
    line-height: 25px;
    margin-top: 20px;
  }
  .sec2 .wrapper .main-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec2 .wrapper .main-content-list .main-content-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec2 .wrapper .main-content-list .main-content-item .main-content-text {
    font-size: 26px;
  }
  .main-content-item img {
    width: 75px;
  }
  .main-content-item span {
    width: 60%;
  }
  .sec2 .wrapper .main-content-list .main-content-item .main-content-text::before {
    height: 85%;
    width: 2px;
  }
  .sec2 .wrapper .form-registration .form-wrap .form-tabs::after {
    width: 100%;
  }
  .sec2 .wrapper .form-registration .form-wrap .age-submit .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  .sec_policy {
    width: 95%;
  }
  .sec_policy .sec3-wrapper {
    padding: 50px 15px;
  }
  .sec_policy .sec3-wrapper .header {
    font-size: 18px;
  }
}

@media (max-width: 345px) {
  .sec2 .wrapper .head-title {
    font-size: 29px;
    line-height: 35px;
  }
  .sec2 .wrapper .flag::before {
    top: 5px;
    background-size: 85px 57px;
  }
  .sec2 .wrapper .head-subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
  }
  .main-content-item img {
    width: 48px;
  }
  .sec2 .wrapper .main-content-list {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .sec2 .wrapper .main-content-list .main-content-item .main-content-text {
    font-size: 17px;
  }
  .sec2 .wrapper .form-registration .form-wrap .form-tabs .wrapper {
    font-size: 10px;
  }
  .sec2 .wrapper .form-registration:before {
    left: -60%;
  }
  .sec2 .wrapper .main-content-list:after {
    left: -30%;
  }
  .sec2 .wrapper .form-registration .form-wrap .socia {
    font-size: 14px;
  }
  .sec2 .wrapper .form-registration .form-wrap .age-submit .wrapper {
    font-size: 11px;
  }
}

@media (max-height: 415px) {
  .sec1 {
    display: none;
  }
  .sec2 {
    display: block;
  }
  body {
    background-image: url("../img/bg.png");
  }
  .sec2 .wrapper .content {
    margin-top: 0;
  }
  .sec2 .wrapper .head-title {
    line-height: 55px;
  }
  .sec2 .wrapper .flag {
    margin-top: 20px;
  }
  .sec2 .wrapper .flag::before {
    left: calc(-10% - 20px);
  }
  .sec2 .wrapper .form-registration:before {
    left: -85%;
  }
  .sec2 .wrapper .head-subtitle {
    font-size: 27px;
    text-align: center;
    margin-top: 20px;
  }
  .sec2 .wrapper .main-content-list {
    margin-top: 25px;
  }
  .sec2 .wrapper .main-content-list .main-content-item {
    margin-top: 0px;
  }
  .sec2 .wrapper .main-content-list .main-content-item .main-content-text {
    font-size: 25px;
  }
  .sec2 .wrapper .main-content-list .main-content-item img {
    width: 50px;
  }
  .sec2 .wrapper .form-registration .form-wrap .form-tabs::after {
    width: 100%;
  }
  .sec2 .wrapper .form-registration .form-wrap .age-submit .wrapper {
    font-size: 10px;
  }
  .sec2 .wrapper .form-registration .form-wrap .form-tabs .wrapper {
    font-size: 10px;
  }
  .sec2 .wrapper .head-title {
    font-size: 55px;
  }
}

@media (max-height: 375px) {
  .sec2 .wrapper .flag::before {
    left: calc(-12% - 20px);
  }
  .sec2 .wrapper .head-title {
    font-size: 54px;
  }
}

@media (max-height: 320px) {
  .sec2 .wrapper .flag::before {
    left: calc(-25% - 20px);
  }
}
/*# sourceMappingURL=media.css.map */