* {
  padding: 0;
  margin: 0;
}

input :focus {
  outline: 0;
}

input {
  outline-style: none;
}

select:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

body {
  background-color: #1667c1;
  color: #fff;
  font-size: 18px;
  font-family: "Roboto";
  line-height: 1.2;
  background-image: url("../img/bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  min-height: 775px;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #dde4ec;
}

body::-webkit-scrollbar-thumb {
  background: #fa5a00;
  border-radius: 30px;
}

.sec1 {
  min-height: 775px;
}

.sec1 .coins {
  background-image: url("../img/bgcoins1full.png"), url("../img/bgflagfull.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  height: 775px;
}

.sec1 .wrapper {
  display: block;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.sec1 .content {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec1 .content .main-logo {
  width: 242px;
}

.sec1 .content .head-title {
  margin: 60px 0 5px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

.sec1 .content .head-subtitle {
  font-size: 32px;
  font-weight: 900;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
}

.sec1 .content .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 215px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec1 .content .main-content .center-img {
  width: 170px;
}

.sec1 .content .main-content .center-img img {
  width: 100%;
}

.sec1 .content .main-content .left-side {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 237px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.sec1 .content .main-content .left-side .first:after {
  content: url("../img/clipboard.svg");
  position: absolute;
  right: -70px;
  top: 20px;
}

.sec1 .content .main-content .left-side .second:after {
  content: url("../img/entertainment.svg");
  position: absolute;
  right: -78px;
  bottom: 30px;
}

.sec1 .content .main-content .right-side {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 237px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.sec1 .content .main-content .right-side .first::before {
  content: url("../img/sport.svg");
  position: absolute;
  left: -75px;
  top: 30px;
}

.sec1 .content .main-content .right-side .second::before {
  content: url("../img/tax.svg");
  position: absolute;
  left: -75px;
  bottom: 30px;
}

.sec1 .content .regist-btn {
  font-size: 22px;
  margin-top: 93px;
  cursor: pointer;
  color: #fff;
  padding: 25px 0;
  font-weight: thin;
  text-transform: uppercase;
  background-color: #fa5a00;
  border: none;
  border-radius: 50px;
  background-image: -ms-linear-gradient(90deg, #fa4d00 0%, #fa5e00 100%);
  -webkit-box-shadow: 0px 11px 27px 0px rgba(250, 65, 0, 0.63);
          box-shadow: 0px 11px 27px 0px rgba(250, 65, 0, 0.63);
  width: 380px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sec1 .content .regist-btn span {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec1 .content .regist-btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sec1 .content .regist-btn:hover span {
  padding-right: 25px;
}

.sec1 .content .regist-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.sec2 {
  height: 775px;
  display: none;
}

.sec2 .coins {
  background-image: url("../img/bgcoins2full.png"), url("../img/elements1.png");
  background-repeat: no-repeat;
  background-size: auto 1100px;
  background-position: center center;
  height: 775px;
}

.sec2 .wrapper {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.sec2 .wrapper .content {
  padding-top: 25px;
}

.sec2 .wrapper .flag {
  position: relative;
}

.sec2 .wrapper .flag::before {
  content: url("../img/flag.png");
  position: absolute;
  height: 110px;
  width: 160px;
  left: calc(-18% - 20px);
}

.sec2 .wrapper .main-logo {
  height: 30px;
}

.sec2 .wrapper .head-title {
  margin: 60px 0 5px;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  line-height: 64px;
}

.sec2 .wrapper .head-subtitle {
  font-size: 32px;
  font-weight: 900;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  line-height: 32px;
}

.sec2 .wrapper .main-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  position: relative;
}

.sec2 .wrapper .main-content-list .main-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.sec2 .wrapper .main-content-list .main-content-item .main-content-text {
  margin-left: 42px;
  font-size: 18px;
  font-family: "Roboto";
  line-height: 1.2;
  position: relative;
}

.sec2 .wrapper .main-content-list .main-content-item .main-content-text::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 17px;
  background-color: #ffba00;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec2 .wrapper .main-content-list:after {
  content: url("../img/cup.png");
  position: absolute;
  bottom: -50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.sec2 .wrapper .league-logo {
  position: absolute;
  background-color: #1667c1;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  padding: 26px 20px 26px 60px;
  bottom: 0;
  display: inline-block;
}

.sec2 .wrapper .league-logo .bundes {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 900;
  position: relative;
  display: block;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.sec2 .wrapper .league-logo .bundes::before {
  content: url("../img/bunlogo.svg");
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec2 .wrapper .form-registration {
  max-width: 341px;
  position: absolute;
  z-index: 5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #000;
  bottom: 0;
  right: 0;
  min-height: 480px;
  background-color: #fff;
}

.sec2 .wrapper .form-registration .form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs {
  margin-bottom: 15px;
  position: relative;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  width: 75%;
  font-weight: bold;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs::after {
  content: "";
  position: absolute;
  height: 2px;
  padding: 0;
  width: 341px;
  bottom: -15px;
  background-color: #e8ecf1;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs .email-tab {
  width: 90px;
  text-align: center;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs .tabitem {
  color: #6b7d8e;
  cursor: pointer;
  position: relative;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs .tabitem:hover {
  color: #167fe0;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs .tabitem:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  padding: 0;
  width: 100%;
  left: 0;
  bottom: -15px;
  border-radius: 50px;
  background-color: #167fe0;
  z-index: 5;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs .tabitem.active {
  color: #fa4d00;
  position: relative;
}

.sec2 .wrapper .form-registration .form-wrap .form-tabs .tabitem.active::after {
  content: "";
  position: absolute;
  height: 3px;
  padding: 0;
  width: 100%;
  left: 0;
  bottom: -15px;
  border-radius: 50px;
  background-color: #fa4d00;
  z-index: 5;
}

.sec2 .wrapper .form-registration .form-wrap .tab-content {
  display: none;
}

.sec2 .wrapper .form-registration .form-wrap .tab-content.active {
  display: block;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .ico {
  position: absolute;
  opacity: 0.75;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .select-arrow {
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #cbd4df;
  right: 17px;
  border-top: none;
  border-right: none;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .form-input {
  width: 100%;
  border: 2px solid #cbd4df;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 20px;
  height: 25px;
  background: #e2e3e4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #e2e3e4), color-stop(27%, #f3f5f8));
  background: linear-gradient(180deg, #e2e3e4 5%, #f3f5f8 27%);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .form-input:focus, .sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .form-input:hover {
  background: #fff;
  border: 2px solid #fa4d00;
  opacity: 0.75;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .form-input.phone {
  padding: 0;
  padding-left: 10px;
  border-radius: 0px;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .phone-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .input-icon .phone-wrap select {
  padding: 0;
  padding-left: 20px;
  width: 40%;
  border-radius: 0px;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .order-form .form-btn {
  width: 100%;
  cursor: pointer;
  color: #fff;
  padding: 25px 0;
  font-weight: thin;
  text-transform: uppercase;
  background-color: #fa5a00;
  border: none;
  border-radius: 50px;
  background-image: -ms-linear-gradient(90deg, #fa4d00 0%, #fa5e00 100%);
  -webkit-box-shadow: 0px 11px 27px 0px rgba(250, 65, 0, 0.63);
          box-shadow: 0px 11px 27px 0px rgba(250, 65, 0, 0.63);
  padding: 15px 0;
  margin-bottom: 15px;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .singin {
  text-align: center;
  font-size: 16px;
}

.sec2 .wrapper .form-registration .form-wrap .main-form .singin a {
  color: #ffba00;
}

.sec2 .wrapper .form-registration .form-wrap .age-submit {
  background-color: #dde4ec;
  margin-top: 10px;
}

.sec2 .wrapper .form-registration .form-wrap .age-submit .wrapper {
  width: 75%;
  font-size: 12px;
  padding: 10px 0;
  font-weight: bold;
}

.sec2 .wrapper .form-registration .form-wrap .age-submit .wrapper a {
  color: #2ea9ff;
}

.sec2 .wrapper .form-registration .form-wrap .socia {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
}

.sec2 .wrapper .form-registration .form-wrap .socia .wrapper {
  width: 75%;
}

.sec2 .wrapper .form-registration .form-wrap .socia .wrapper .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 15px 0;
}

.sec2 .wrapper .form-registration .form-wrap .socia .wrapper .social-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33px;
  height: 33px;
  background-color: #e8ecf1;
  border-radius: 50%;
  line-height: 33px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.sec2 .wrapper .form-registration .form-wrap .socia .wrapper .social-list a:hover {
  background-color: #ffba00;
}

.sec2 .wrapper .form-registration:before {
  content: url("../img/ball2.png");
  position: absolute;
  width: 200px;
  height: 200px;
  top: 120px;
  left: -50%;
  z-index: 6;
}

.sec2 .wrapper .form-registration::after {
  content: url("../img/baks.png");
  position: absolute;
  width: 220px;
  height: 185px;
  bottom: 35px;
  right: -50%;
  z-index: 6;
}

.darkscreen {
  position: absolute;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.sec_policy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  background-color: #fff;
  border-radius: 25px;
  color: #000;
}

.sec_policy .sec3-wrapper {
  padding: 60px 60px;
}

.sec_policy .sec3-wrapper .header {
  font-size: 40px;
  font-family: "Roboto";
  color: #074990;
  text-transform: uppercase;
  line-height: 30px;
  text-align: left;
  font-weight: 500;
  margin-left: 40px;
  position: relative;
}

.sec_policy .sec3-wrapper .header::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #fa4d00;
  left: -36px;
}

.sec_policy .sec3-wrapper .list-scroll {
  margin-top: 45px;
  height: 450px;
  overflow-y: auto;
}

.sec_policy .sec3-wrapper .list-scroll ol {
  counter-reset: item;
}

.sec_policy .sec3-wrapper .list-scroll a:link {
  color: #fa5a00;
  text-decoration: none;
}

.sec_policy .sec3-wrapper .list-scroll li {
  display: block;
}

.sec_policy .sec3-wrapper .list-scroll li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
}

.sec_policy .sec3-wrapper .list-scroll::-webkit-scrollbar {
  width: 5px;
}

.sec_policy .sec3-wrapper .list-scroll::-webkit-scrollbar-track {
  background: #dde4ec;
}

.sec_policy .sec3-wrapper .list-scroll::-webkit-scrollbar-thumb {
  background: #fa5a00;
  border-radius: 30px;
}

.sec_policy .sec3-wrapper .list-scroll .main-list {
  padding-right: 50px;
}

.sec_policy .sec3-wrapper .list-scroll .main-list .main-item {
  margin-bottom: 65px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
}

.sec_policy .sec3-wrapper .list-scroll .main-list .main-item:before {
  padding-right: 30px;
}

.sec_policy .sec3-wrapper .list-scroll .main-list .main-item .sec-list {
  text-transform: initial;
  font-weight: initial;
  color: #6b7d8e;
}

.sec_policy .sec3-wrapper .list-scroll .main-list .main-item .sec-list li {
  margin-top: 10px;
  line-height: 30px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.sec_policy .sec3-wrapper .list-scroll .main-list .main-item .sec-list li:before {
  padding-right: 17px;
}

.sec_policy .close {
  position: absolute;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15px;
  height: 15px;
  right: 30px;
  top: 30px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.sec_policy .close:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 5px !important;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background: #dde4ec !important;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background: #fa5a00 !important;
  border-radius: 30px !important;
}

.select2-selection__rendered {
  display: none !important;
}

.select2.select2-container.select2-container--default {
  width: 0 !important;
}

select::-webkit-scrollbar {
  width: 5px !important;
}

select::-webkit-scrollbar-track {
  background: #dde4ec !important;
}

select::-webkit-scrollbar-thumb {
  background: #fa5a00 !important;
  border-radius: 30px !important;
}
/*# sourceMappingURL=style.css.map */