* {
    padding: 0;
    margin: 0;
}
input :focus {
    outline: 0;
}
input {
    outline-style: none;
}
select:focus {
    outline: 0;
}
button:focus {
    outline: 0;
}
@mixin orange-btn {
    cursor: pointer;
    color: #fff;
    padding: 25px 0;
    font-weight: thin;
    text-transform: uppercase;
    background-color: #fa5a00;
    border: none;
    border-radius: 50px;
    background-image: -moz-linear-gradient(90deg, rgb(250, 77, 0) 0%, rgb(250, 94, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(250, 77, 0) 0%, rgb(250, 94, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(250, 77, 0) 0%, rgb(250, 94, 0) 100%);
    box-shadow: 0px 11px 27px 0px rgba(250, 65, 0, 0.63);
}

body {
    background-color: #1667c1;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 1.2;
    background-image: url("../img/bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    min-height: 775px;
    overflow-x: hidden;
    position: relative;
    &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: #dde4ec; 
      }
      &::-webkit-scrollbar-thumb {
        background: #fa5a00; 
        border-radius:30px
      }
}

.wrapper {
    display: block;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}
.sec1 {
    min-height: 775px;

    .coins {
        background-image: url("../img/bgcoins1.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 775px;
    }
    .content {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .main-logo {
            width: 242px;
        }
        .head-title {
            margin: 60px 0 5px;
            font-size: 64px;
            text-transform: uppercase;
            font-weight: 900;
            transform: skew(-10deg);
        }
        .head-subtitle {
            font-size: 32px;
            font-weight: 900;
            transform: skew(-10deg);
        }
        .main-content {
            display: flex;
            margin-top: 40px;
            justify-content: space-between;
            width: 100%;
            height: 215px;
            align-items: center;
            .center-img {
                width: 170px;
                img {
                    width: 100%;
                }
            }
            .left-side {
                text-align: right;
                display: flex;
                width: 237px;
                height: 100%;
                flex-direction: column;
                justify-content: space-around;
                position: relative;
                .first:after {
                    content: url("../img/clipboard.svg");
                    position: absolute;
                    right: -70px;
                    top: 20px;
                }
                .second:after {
                    content: url("../img/entertainment.svg");
                    position: absolute;
                    right: -78px;
                    bottom: 30px;
                }
            }
            .right-side {
                text-align: left;
                display: flex;
                width: 237px;
                height: 100%;
                flex-direction: column;
                justify-content: space-around;
                position: relative;
                .first::before {
                    content: url("../img/sport.svg");
                    position: absolute;
                    left: -75px;
                    top: 30px;
                }
                .second::before {
                    content: url("../img/tax.svg");
                    position: absolute;
                    left: -75px;
                    bottom: 30px;
                }
            }
        }

        .regist-btn {
            font-size: 22px;
            margin-top: 93px;
            @include orange-btn;
            width: 380px;
            transition: all 0.5s;
            span {
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }
            span:after {
                content: "\00bb";
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
            &:hover span {
                padding-right: 25px;
            }

            &:hover span:after {
                opacity: 1;
                right: 0;
            }
        }
    }
}
.sec2 {
    height: 775px;
    display: none;
    .coins {
        background-image: url("../img/bgcoins2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 775px;
    }
    .wrapper {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        .content {
            padding-top: 25px;
        }
        .flag {
            position: relative;
            &::before {
                content: url("../img/flag.png");
                position: absolute;
                height: 110px;
                width: 160px;
                left: calc(-18% - 20px);
            }
        }
        .main-logo {
            height: 30px;
        }
        .head-title {
            margin: 60px 0 5px;
            font-size: 64px;
            text-transform: uppercase;
            font-weight: 900;
            transform: skew(-10deg);
            line-height: 64px;
        }
        .head-subtitle {
            font-size: 32px;
            font-weight: 900;
            transform: skew(-10deg);
            line-height: 32px;
        }
        .main-content-list {
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            .main-content-item {
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                .main-content-text {
                    margin-left: 42px;
                    font-size: 18px;
                    font-family: "Roboto";
                    line-height: 1.2;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 17px;
                        background-color: #ffba00;
                        left: -20px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .league-logo {
            position: absolute;
            padding: 26px 20px 26px 60px;
            bottom: 0;
            .bundes {
                text-transform: uppercase;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: 2px;
                font-weight: 900;
                position: relative;
                &::before {
                    content: url("../img/bunlogo.svg");
                    position: absolute;
                    left: -40px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .form-registration {
            max-width: 341px;
            position: absolute;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            color: #000;
            bottom: 0;
            right: 0;
            min-height: 480px;
            background-color: #fff;
            .form-wrap {
                display: flex;
                flex-direction: column;
                padding-top: 30px;
                .form-tabs {
                    margin-bottom: 15px;
                    position: relative;
                    .wrapper {
                        display: flex;
                        text-transform: uppercase;
                        font-size: 12px;
                        width: 75%;
                        font-weight: bold;
                        justify-content: space-around;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        padding: 0;
                        width: 341px;
                        bottom: -15px;
                        background-color: #e8ecf1;
                    }
                    .email-tab {
                        width: 90px;
                        text-align: center;
                    }
                    .tabitem {
                        color: #6b7d8e;
                        cursor: pointer;
                        position: relative;
                        &:hover {
                            color: #167fe0;
                            &::after {
                                content: "";
                                position: absolute;
                                height: 3px;
                                padding: 0;
                                width: 100%;
                                left: 0;
                                bottom: -15px;
                                border-radius: 50px;
                                background-color: #167fe0;
                                z-index: 9;
                            }
                        }
                    }

                    .tabitem.active {
                        color: #fa4d00;
                        position: relative;
                        transition: 0.3s;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 3px;
                            padding: 0;
                            width: 100%;
                            left: 0;
                            bottom: -15px;
                            border-radius: 50px;
                            background-color: #fa4d00;
                            z-index: 10;
                        }
                    }
                }
                .tab-content {
                    display: none;
                }
                .tab-content.active {
                    display: block;
                }
                .main-form {
                    .wrapper {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 75%;
                    }

                    .order-form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .input-icon {
                            position: relative;
                            width: 100%;
                            margin-bottom: 10px;
                            .ico {
                                position: absolute;
                                opacity: 0.75;
                                left: 12px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            select {
                                appearance: none;
                            }
                            .select-arrow {
                                position: absolute;
                                width: 5px;
                                height: 5px;
                                border: 2px solid #cbd4df;
                                right: 17px;
                                border-top: none;
                                border-right: none;
                                top: 50%;
                                transform: translateY(-50%) rotate(-45deg);
                            }
                            .form-input {
                                width: 100%;
                                border: 2px solid #cbd4df;
                                min-height: 40px;
                                box-sizing: border-box;
                                border-radius: 20px;
                                padding-left: 40px;
                                padding-right: 20px;
                                height: 25px;
                                background: rgb(226, 227, 228);
                                background: linear-gradient(
                                    180deg,
                                    rgba(226, 227, 228, 1) 5%,
                                    rgba(243, 245, 248, 1) 27%
                                );
                                transition: 0.8s;
                                &:focus,
                                &:hover {
                                    background: #fff;
                                    border: 2px solid #fa4d00;
                                    opacity: 0.75;
                                }
                            }
                        }
                        .form-btn {
                            width: 100%;
                            @include orange-btn;
                            padding: 15px 0;
                            margin-bottom: 15px;
                        }
                    }
                    .singin {
                        text-align: center;
                        font-size: 16px;
                        a {
                            color: #ffba00;
                        }
                    }
                }
                .age-submit {
                    background-color: #dde4ec;
                    margin-top: 10px;
                    .wrapper {
                        width: 75%;
                        font-size: 12px;
                        padding: 10px 0;
                        font-weight: bold;

                        a {
                            color: #2ea9ff;
                        }
                    }
                }
                .socia {
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    margin-top: 15px;
                    .wrapper {
                        width: 75%;

                        .social-list {
                            display: flex;
                            justify-content: space-around;
                            margin: 15px 0;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 33px;
                                height: 33px;
                                background-color: #e8ecf1;
                                border-radius: 50%;
                                line-height: 33px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sec_policy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #fff;
    border-radius: 25px;
    color: #000;
    .sec3-wrapper {
        padding: 60px 60px;
        .header {
            font-size: 40px;
            font-family: "Roboto";
            color: rgb(7, 73, 144);
            text-transform: uppercase;
            line-height: 30px;
            text-align: left;
            font-weight: 500;
            margin-left: 40px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 3px;
                height: 100%;
                background-color: #fa4d00;
                left: -36px;
            }
        }
        .list-scroll {
            margin-top: 45px;
            ol {
                counter-reset: item;
            }
            a:link{
                color:#fa5a00;
                text-decoration: none;
            }
           li{
               display: block;
           }
            li:before {
                content: counters(item, ".") ".";
                counter-increment: item;
            }
            height: 450px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 5px;
              }
              &::-webkit-scrollbar-track {
                background: #dde4ec; 
              }
              &::-webkit-scrollbar-thumb {
                background: #fa5a00; 
                border-radius:30px
              }
            .main-list {
                padding-right: 50px;
                .main-item {
                    margin-bottom: 65px;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 16px;
                    &:before {
                        padding-right: 30px;
                    }
                    .sec-list {
                        text-transform: initial;
                        font-weight: initial;
                        color: #6b7d8e;
                        li{
                            margin-top: 10px;
                            line-height:30px;
                            box-sizing: content-box;
                            &:before {
                                padding-right: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}
